<div class="row">
    <div class="col-md-3">
        <div class="header">
            <img src="https://www.w3schools.com/howto/img_avatar.png"> <br/>
            <input type='file' (change)="onSelectFile($event)">
            <p>Your channel <br> {{userDetails.userName}}</p>
        </div>
        <div class="menu">
            <a [routerLink]="'dashboard'">Dashboard</a> <br>
            <a [routerLink]="'content'">Content</a>
        </div>
        <button class="btn btn-success" type="button" (click)="logout()">Logout</button>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div> 
</div>
